@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Pacifico&display=swap');

.body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

.logo{
  font-size: 28px;
  font-family: 'Pacifico', cursive;
}