@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Pacifico&display=swap');

.body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/2.jpg');
  background-repeat : no-repeat;
  background-size : cover;
}

.logo{
  font-size: 28px;
  font-family: 'Pacifico', cursive;
}

.detail {
  background-color: white;
  width: 40rem;
  backdrop-filter: blur(15px);
}