{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<h1>{{ user.username }}'s profile</h1>
<p>Name: {{ user.full_name }}</p>
<p class="text-muted">{{ user.article_set.count }}개를 작성하였습니다.</p>
{% for article in user.article_set.all %}
  <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
{% endfor %}

{% for comment in user.comment_set.all %}
  <a href="{% url 'articles:detail' comment.article.pk %}">{{ comment.content }}</a>
{% endfor %}
<a class="btn btn-outline-secondary" href="{% url 'articles:index' %}">Back</a>
{% endblock %}

