{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="row gy-5">
{% for article in articles %}
{% if article.image %}
<div class="col-12 col-md-6 col-lg-3">
    <a class="text-black text-decoration-none" href="{% url 'articles:detail' article.pk %}">
    <div class="card" style="backdrop-filter: blur(15px);">
      <img src="{{ article.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-text">{{ article.title }}</h3>
        <span>{{ article.comment_set.count }} {{ article.user }}</span>
      </div>
    </div>
    </a>
</div>
{% else %}
<div class="col-12 col-md-6 col-lg-3">
  <a class="text-black text-decoration-none" href="{% url 'articles:detail' article.pk %}">
  <div class="card">
    <img src="{% static 'images/1.png' %}" class="card-img-top" alt="..." >
    <div class="card-body">
      <h3 class="card-text">{{ article.title }}</h3>
      <span>{{ article.comment_set.count }} {{ article.user}}</span>
    </div>
    </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}