@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1>a {
  color: black;
  text-decoration: none;
}
