{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% bootstrap_css %}
  {% block css %}{% endblock css %}
</head>
</head>
<body>
  <nav class="shadow-sm navbar navbar-expand-lg bg-white">
    <div class="container">
      <a class="navbar-brand" href="{% url 'articles:index' %}">
        <img class="opacity-75" src="{% static 'MOVIE.png' %}" alt="logo" width="100vw">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mt-1">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'articles:index' %}">목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'articles:create' %}">추가</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
  {% bootstrap_javascript %}
</body>
</html>