.join {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.password {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.joinfelx {
  position: relative;
}
#joinBtn {
  position: absolute;
  right: 0;
  margin-top: 10px;
}
label {
  padding-right: 10px;
}