<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>lotto</title>
</head>
<body class="bg-light">
  <div class="container d-flex flex-column align-items-center text-center mt-5 pt-5">
    <div class="bg-white shadow p-5 pb-4 rounded-5 mx-5" style="width: 45vw;">
    <h1 class="fw-semibold text-primary mb-4">로또 번호 추첨기</h1>
    {% for number in numbers %}
    <div class="row">
      <div class="fs-3 mb-3 d-inline-block col-9" style="letter-spacing: 3px;">
        {% for num in number.lotto %}
        {{ num }} 
        {% endfor %}
      </div>
      <div class="fs-3 fw-semibold text-danger d-inline-block col-3">
        {{number.win }}
      </div>
      <br>
    </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>